#Button1 {
	background-color: lightskyblue;
	color: rgb(0, 0, 0);
	font-family: "Times New Roman";
	font-size: 50px;
	border-radius: 20px;
	border-color: deepskyblue;
}
#Button2 {
	background-color: gold;
	color: rgb(0, 0, 0);
	font-family: "Times New Roman";
	font-size: 50px;
	border-radius: 20px;
	border-color: rgb(255, 255, 26);
}
#Button3 {
	background-color: salmon;
	color: rgb(0, 0, 0);
	font-family: "Times New Roman";
	font-size: 50px;
	border-radius: 20px;
	border-color: rgb(249, 99, 83);
}
#roundMessage {
	background-color: azure;
	color: rgb(0, 0, 0);
	font-family: "Times New Roman";
	font-size: 50px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	width: 180px;
	padding-left: 15px;
}
#nextRoundButton {
	background-color: rgb(230, 255, 255);
	color: rgb(0, 0, 0);
	font-family: "Times New Roman";
	font-size: 50px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
}
body {
    background-image: linear-gradient(45deg, rgb(153, 214, 255), rgb(179, 224, 255), rgb(204, 235, 255), rgb(230, 245, 255), rgb(255, 255, 255));
	background-attachment: fixed;
}
.centerText {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman";
    font-size: 30px;
}
.centerButton {
	margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nrRound {
	margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nextRound {
	margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.finalText {
	margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman";
    font-size: 30px;
}
